{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    ["styled-jsx/babel", { "optimizeForSpeed": true }]
  ]
}
